.home .post_wrapper .post-thumbnail {
    border-bottom: none;
  

    &:hover {
        border-bottom: none;
    }
}

.post-edit-link {
    padding-left: 10px;
}

.home {
    p, li {
        font-size:  .9em;
    }
}