.space {
    padding-top: 80px;
}

.education {

   @include Block;

   .wrap {
       @include blockWrap;
    }

   .one {
        h3 {@include title;
        }

        h3::after {
            @include titleAfter;
        }

        p {
            @include num;
        }
    }

   .two {
       @include widgetTwo;

       .text, h3 {
           @include twoText;
       }

       .first {
           padding: 2% 0 5%;
       }

       p {
           @include twoText;
           margin: 5px auto;
       }

       a {
           @include link;

           &:hover {
               @include linkHover;
           }
       }
   }

}


